<div id="post-load">
  <img id="post-load" src="images/spinner.gif" alt="Loading...">
</div>
<footer>
  <small>Site by <a href="http://coryswainston.com">Cory Swainston</a></small>
</footer>
</body>
</html>
