<%- include('../modules/header'); %>
<main>
  <div id="make-post">
    <form action="/post" method="post">
      <input class="post-text" type="text" name="postText" placeholder="Share something..." autocomplete="off">
      <button class="material-icons submit-button" type="submit">
        send
      </button>
    </form>
  </div>
  <% posts.forEach(function(post) { %>
    <%- include('../post/post', {post: post}); %>
  <% }); %>
</main>
<%- include('../modules/footer'); %>
