<%- include('../modules/header'); %>
<main>
  <div id="make-post">
    <form id="post-form">
      <input id="post-input" type="text" name="postText" placeholder="Share something..." autocomplete="off">
      <button class="material-icons submit-button" type="submit">
        send
      </button>
    </form>
  </div>
  <div id="main-feed">

  </div>
</main>
<%- include('../modules/footer'); %>
