<%- include('../modules/header', {signedIn: signedIn}); %>
<main>
  <div id="make-post">
    <form id="post-form" autofocus>
      <input id="post-input" type="text" name="postText" placeholder="Share something..." autocomplete="off">
      <button class="material-icons submit-button" type="submit">
        send
      </button>
      <br><br>
      <input class="platform-check" type="checkbox" value="twitter" id="twitter">
      <label for="twitter">
        <img class="small-image" src="images/twitter-icon.png" alt="Post to Twitter">
      </label>
      <input class="platform-check" type="checkbox" value="facebook" id="facebook">
      <label for="facebook">
        <img class="small-image" src="images/fb-icon.png" alt="Post to Twitter">
      </label>
      <input class="platform-check" type="checkbox" value="instagram" id="instagram">
      <label for="instagram">
        <img class="small-image" src="images/insta-icon.png" alt="Post to Twitter">
      </label>
    </form>
  </div>
  <div id="main-feed">

  </div>
  <div id="post-load">
    <strong class="loading">Loading...</strong>
  </div>
</main>
<%- include('../modules/footer'); %>
