<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Login | The Sosh Mede</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <header>
      <div id="header-wrapper">
        <h1>The Sosh Mede</h1>
      </div>
    </header>
    <main>
      <p id="login-main">Take your pick.</p>
      <br>
      <img class="small-image" src="images/twitter-icon.png" /><a class="post-link" href="/twitter/auth">Sign in with Twitter</a><br />
      <img class="small-image" src="images/fb-icon.png" /><a class="post-link" href="/fb/auth">Sign in with Facebook</a>
      <br>
      <br>
      <br>
    </main>
<%- include('../modules/footer'); %>
