<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Login | The Sosh Mede</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>The Sosh Mede</h1>
    </header>
    <main>
      <p>Looks like you aren't signed in at all.</p>
      <a class="post-link" href="/twitter/auth">Sign in with Twitter</a>
    </main>
<%- include('../modules/footer'); %>
